#projects-posts {
  padding-top: 10vh;
  min-height: 90vh;
  margin: auto;
  @include flex(column, center, center);
  overflow: hidden;

  h2 {
    margin-bottom: 2rem;
    color: #b44d4d;
    text-align: center;
  }

  p {
    margin: 2rem 0;
    font-size: 2rem;
  }
}

.project-post {
  //   border: solid black 2px;
  box-shadow: 0 5px 10px rgb(93, 93, 93);
  white-space: pre-wrap;
  word-break: break-all;
  white-space: normal;
  min-height: 40rem;
  width: 50%;
  border-radius: 2rem;
  margin: 5rem;
  @include flex(row, center, center);
  padding: 5rem;
  flex-wrap: wrap;
}

.post-text {
  flex: 1 1 20rem;
  padding: 0rem 3rem;
  @include flex(column, space-between, center);
}

#project-a {
  flex: 1 1 20rem;
  margin: auto;
  @include flex(row, center, center);
}

#project-img {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 2rem 2rem 0rem 2rem;
  width: 250px;
  box-shadow: 0 2px 2px rgb(93, 93, 93);
  border-radius: 2rem;
}

#project-img:hover {
  opacity: 0.6;
  transform: translateX(2px);
}

@media screen and (max-width: 600px) {
  .project-post {
    width: 80%;

    p {
      font-size: 2rem;
      margin: 1rem 0;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
